<mat-toolbar color="primary">
    <button mat-icon-button (click)="goBack()">
      <mat-icon>arrow_back</mat-icon>
    </button>
   <div class="NavTitle"> <span >Edit Author</span></div>
  </mat-toolbar>
  <!-- <span class="material-symbols-outlined">
    arrow_back
    </span> -->
  
<div class="form"><form class="example-form" (ngSubmit)="Save()">
    <!-- <label>Authorid</label> -->
    <mat-form-field appearance="fill">
      <mat-label>Author ID</mat-label>
      <input matInput [(ngModel)]="SelectedAuthor.au_id" name="Authorid"  type="text">
    </mat-form-field>
  
    <mat-form-field appearance="fill">
      <mat-label>First Name</mat-label>
      <input matInput [(ngModel)]="SelectedAuthor.au_fname" name="FirstName" placeholder="Enter your first name" >
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Last Name</mat-label>
        <input matInput [(ngModel)]="SelectedAuthor.au_lname" name="LastName" placeholder="Enter your last name">
     </mat-form-field>
     <mat-form-field appearance="fill">
        <mat-label>Street Address</mat-label>
        <input matInput [(ngModel)]="SelectedAuthor.address" name="Address" placeholder="Enter Street Address">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>City</mat-label>
        <input matInput [(ngModel)]="SelectedAuthor.city" name="City" placeholder="Enter City">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>State</mat-label>
        <input matInput [(ngModel)]="SelectedAuthor.state" name="state" placeholder="Enter State">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Zip</mat-label>
        <input matInput [(ngModel)]="SelectedAuthor.zip" name="Zip" placeholder="Enter Postal code">
      </mat-form-field>
      <!-- <mat-form-field appearance="fill">
        <mat-label>Phone </mat-label>
        <input matInput [(ngModel)]="SelectedAuthor.phone" name="Phone" placeholder="Enter phone no">
      </mat-form-field> -->
      <mat-form-field appearance="fill">
        <mat-label>Contract</mat-label>
        <input matInput [(ngModel)]="SelectedAuthor.contract" name="contract" placeholder="Enter Postal code">
      </mat-form-field>
      <!-- <span>Contract</span>
    <mat-slide-toggle [(ngModel)] ></mat-slide-toggle> -->

    <button mat-raised-button type="submit">Submit</button>

  </form>
</div>
  